{% extends "dashboard/section.html" %}
{% set title = 'Vue globale' %}
{% set events = get_joi() %}
{% macro more_button(name) -%}
  <strong>
    <a href="{{ url_for('dashboard', page=name) }}">
      <span class="pull-right badge bg-grey">Consulter / Modifier</a>
    </span>
  </strong>
{%- endmacro %}
{% block content %}

  <div class="row">

    <!-- PROFIL -->
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ url_for('static', filename='dist/img/avatar5.png') }}" alt="User profile picture">
          <h3 class="profile-username text-center">
            {% if not user.profile.first_name %}
              Profil incomplet
            </h3>
            <p class="text-muted text-center">Veuillez remplir votre profil pour finaliser votre inscription.</p>
          {% else %}
            {{ user.profile.first_name }}
            {{ user.profile.name }}</h3>

          <p class="text-muted text-center">{{ user.profile.school }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Formation</b>
              <a class="pull-right">{{ user.profile.year }}</a>
            </li>
            <li class="list-group-item">
              <b>Ecole</b>
              <a class="pull-right">{{ user.profile.school }}</a>
            </li>
            <li class="list-group-item">
              <b>Téléphone</b>
              <a class="pull-right">{{ user.profile.tel }}</a>
            </li>
          </ul>
        {% endif %}

        {{ more_button('profile') }}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

  <!-- JOI -->
  <div class="col-md-9">
    <div class="box">
      {{ header_section('joi') }}
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-solid">
              <!-- /.box-header -->
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                {% if user.events.joi.registered %}
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>Nom de l'évènement</th>
                        <th>Type</th>
                        <th>Horaire</th>
                      </tr>
                      {% for k, v in user.events.joi.items() %}
                        {% if v.registered %}
                          <tr>
                            <td>{{ v.name }}</td>
                            <td>{{ 'Table Ronde' if v.time else 'Conférence thématique' }}</td>
                            <td>
                              {% if v.time %}
                                {{ '14h00-15h30' if v.time == 'first' else '15h30-17h00' }}
                              {% else %}
                                {{ '10h45-12h00' }}
                              {% endif %}
                            </td>
                          </tr>
                        {% endif %}
                        {% endfor%}
                      {% else %}
                        <tr>
                          <td colspan="4">
                            <h2 class="lead text-center">Aucune participation enregistrée :(</h2>
                          </td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {{ more_button('joi') }}
        </div>
      </div>
    </div>
    <!-- /.col -->

    <!-- STYF -->
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Start-Up Your Future</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>

          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                  <table class="table table-hover">
                    <tbody>
                      {% if user.events.styf.registered %}
                        <tr>
                          <th>En équipe</th>
                          <th>Coéquipiers</th>
                          <th>Problématique</th>
                        </tr>
                        <tr>
                          <td>
                            {{ 'Oui' if user.events.styf.team == 'true' else 'Non' }}
                          </td>
                          <td>
                            {{ user.events.styf.teammates|to_str if user.events.styf.teammates != "[]" else "Pas de coéquipiers" }}
                          </td>
                          <td>
                            {{ user.events.styf.problematic if user.events.styf.problematic else "Pas de problématique" }}
                          </td>
                        </tr>
                      {% else %}
                        <tr>
                          <td colspan="4">
                            <h2 class="lead text-center">Aucune participation enregistrée :(</h2>
                          </td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {{ more_button('styf') }}
        </div>
      </div>
    </div>
    <!-- MASTERE CLASS -->
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Mastere Class</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  {% if user.events.master_class.registered %}
                    <tr>
                      <td colspan="4">
                        <h2 class="lead text-center">Inscription à la Mastère Class validée.
                        </h2>
                        <p class="text-center">Rendez-vous le 15 Février à 12h30 à la BMC !</p>
                      </td>
                    </tr>
                  {% else %}
                    <tr>
                      <td colspan="4">
                        <h2 class="lead text-center">Aucune participation enregistrée :(</h2>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {{ more_button('master_class') }}
    </div>
  </div>
</div>
</div>
{% endblock content %}
