{% extends "dashboard/base_imp.html" %} {% set title = 'Vue globale' %} {% block content %}
{% macro more_button(name) -%}
    <strong>
        <a href="{{ url_for('dashboard', page=name) }}">
        <span class="pull-right badge bg-grey">Consulter / Modifier</a></span>
    </strong>
{%- endmacro %}
<!-- Equipement/Restauration -->
<div class="row">
    <div class="col-md-6">
        <div class="box">
            {{ header_section('joi') }}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-solid">
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                {% if not user.events|empty_events %}
                                    <table class="table table-hover">
                                        <tbody>
                                        {% for k,v in company.sections.equipement.furnitures.items() %}
                                        {% if v.quantity > 0 %}
                                        <tr>
                                            <td>{{ v.name }}</td>
                                            <td><span class="badge bg-blue">{{ v.quantity|to_human }}</span></td>
                                            <td><span class="badge bg-blue">{{ v.price * v.quantity }} €</span></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="4"><h2 class="lead text-center">Aucun mobilier supplémentaire
                                                trouvé :(</h2></td>
                                        </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{ more_button('joi') }}
            </div>
        </div>
    </div><!-- /.col -->
    <!-- INSERT OTHER COL-MD-6 HERE -->
</div>
{% endblock content %}
