{% extends "dashboard/base.html" %}
{% set user = current_user.data %}
{% macro section_block(name, icon) -%}
  {% if name == 'accueil' %}
    <li class="{{ 'active' if request.path == url_for('dashboard') else '' }}">
      <a href="{{ url_for('dashboard') }}">
        <i class="{{ icon }}"></i>
        <span>
          {{ 'Accueil' }}
        </span>
      </a>
    </li>
  {% else %}
    <li class="{{ 'active' if request.path == url_for('dashboard', page=name) else '' }}">
      <a href="{{ url_for('dashboard', page=name) }}">
        <i class="{{ icon }}"></i>
        <span>
          {% if name == 'joi' %}
            {{ 'Journée Objectif Ingénieur' }}
          {% elif name == 'styf' %}
            {{ 'Start-Up Your Future' }}
          {% elif name == 'master_class' %}
            {{ 'Master Class' }}
          {% elif name == 'fra' %}
            {{ 'Forum Rhône-Alpes' }}
          {% elif name == 'profile' %}
            {{ 'Mon profil' }}
          {% endif %}
        </span>
      </a>
    </li>
  {% endif %}
{%- endmacro %}
{% macro header_section(name) -%}
  <div class="box-header with-border">
    <h3 class="box-title">{{ name }}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
{%- endmacro %}
<!-- HEADER -->
{% block header %}
  <h1>
    {{ title }}
    <small>Dashboard</small>
  </h1>
{% endblock header %}
<!-- SECTIONS -->
{% block sections %}
  {{ section_block('accueil', 'fa fa-home')}}
  {{ section_block('profile', 'fa fa-book')}}
  {{ section_block('styf', 'fa fa-book')}}
  {{ section_block('fra', 'fa fa-book')}}
  {{ section_block('master_class', 'fa fa-book')}}
  {{ section_block('joi', 'fa fa-book')}}
{% endblock sections %}
{% block footer %}
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Fait avec
    <span class="fa fa-heart"></span>
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016
    <a href="#">Forum Organisation</a>.</strong>
  Tous droits réservés.
{% endblock footer %}
