*.py[co]
*.DS_*

# Packages

.env
/env
app/static/.webassets-cache/

# Bower
app/static/bower_components/*
!app/static/bower_components/font-awesome
!app/static/bower_components/bootstrap
app/static/bower_components/font-awesome/*
app/static/bower_components/bootstrap/*
!app/static/bower_components/font-awesome/fonts
!app/static/bower_components/bootstrap/dist
app/static/bower_components/bootstrap/dist/*
!app/static/bower_components/bootstrap/dist/fonts
