# Perso
pip-selfcheck.json

*.py[co]
*.DS_*

# Packages

.env
/env
forum/static/.webassets-cache/

# Bower
forum/static/bower_components/*
!forum/static/bower_components/font-awesome
!forum/static/bower_components/bootstrap
forum/static/bower_components/font-awesome/*
forum/static/bower_components/bootstrap/*
!forum/static/bower_components/font-awesome/fonts
!forum/static/bower_components/bootstrap/dist
forum/static/bower_components/bootstrap/dist/*
!forum/static/bower_components/bootstrap/dist/fonts
