*.py[co]
*.DS_*

# Packages

.env
/env
messages.pot
app/static/.webassets-cache/

# Bower
app/static/bower_components/*
!app/static/bower_components/intl-tel-input
app/static/bower_components/intl-tel-input/*
!app/static/bower_components/intl-tel-input/build
app/static/bower_components/intl-tel-input/build/*
!app/static/bower_components/intl-tel-input/build/img
