{% extends 'companies/dashboard/section.html' %}
{% set title = 'Personnes' %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des personnes</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          {% if company.sections.persons %}
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Nom complet</th>
                  <th>Fonction</th>
                  <th>Jours présents</th>
                  <th>
                    <i class="fa fa-remove"></i>
                  </th>
                </tr>
                {% for person in company.sections.persons %}
                  <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.function }}</td>
                    <td>
                      <span class="label label-primary">{{ person.days }}</span>
                    </td>
                    <td>
                      <i onclick="remove_person({{loop.index0}})" class="fa fa-remove" style="color:red"></i>
                    </td>
                  </tr>
                  {% endfor%}
                {% else %}
                  <tr>
                    <td colspan="4">
                      <h2 class="lead text-center">Aucune personne trouvée :(</h2>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Ajouter une personne</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <form id="confirm_badges">
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>nom complet</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-tag"></i>
                      </div>
                      <input type="text" id="name" class="form-control" placeholder="Ex. Sophie BISENUS" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>fonction</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-tag"></i>
                      </div>
                      <input type="text" id="function" class="form-control" placeholder="Ex. Chargé des ressources humaines" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>sélectionner</label>
                    <select id="days" class="form-control">
                      <option>mercredi</option>
                      <option>jeudi</option>
                      <option>les deux</option>
                    </select>
                  </div>
                </div>
                <!-- /.input group -->
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    {% block validate %}{{ super() }}{% endblock %}
  {% endblock content %}
  {% block scripts %}
    {{ super() }}
    <script>
      $('#confirm_badges').on('submit', function (e) {
        e.preventDefault();
        $('.box-footer .btn').prop('disabled', true);
        var company = {{ company|tojson }};
        var persons = company.sections.persons;
        var person = {
          days: $("#days").val(),
          name: $("#name").val(),
          function: $("#function").val()
        };
        if (person.days && person.name && person.function) {
          company.sections.persons.push(person);
          $.ajax({
            type: "POST",
            url: "{{ url_for('companies.update_company') }}",
            data: {
              "company": JSON.stringify(company),
              "page": "badges"
            },
            success: function (result) {
              if (result == "success") {
                Notify("Changements sauvegardés.");
                setTimeout(function () {
                  location.reload();
                }, 1000);
              } else {
                Notify("Impossible à modifier", null, null, "warning");
              }
            }
          });
        } else {
          Notify("Veuillez remplir tous les champs.", null, null, "error");
        }
        return false;
      });
      function remove_person(index) {
        var r = confirm("Confirmer la suppresion ?");
        if (r) {
          var company = {{ company|tojson }};
          company.sections.persons.splice(index, 1);
          $.ajax({
            type: "POST",
            url: "{{ url_for('companies.update_company') }}",
            data: {
              "company": JSON.stringify(company),
              "page": "badges"
            },
            success: function (result) {
              if (result == "success") {
                Notify("Suppression confirmée.");
                setTimeout(function () {
                  location.reload();
                }, 1000);
              } else {
                Notify("Impossible à modifier", null, null, "warning");
              }
            }
          });
        }
      }
    </script>
  {% endblock scripts %}
