{% extends 'companies/dashboard/section.html' %}
{% set title = 'CVthèque' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des CVs</h3>
        </div>
        <div class="box-body">
          <table class="table responsive table-hover nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Nom complet</th>
                <th>Ecole</th>
                <th>Année d'étude</th>
                <th>Spécialité</th>
                <th>Curriculum Vitae</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Ecole</th>
                <th>Année d'étude</th>
                <th>Spécialité</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function () {
      var resumes = {{ get_resumes() | tojson }};
      var table = $('.table').DataTable({
        "data": resumes,
        "language": {
          "paginate": {
            "first": "Premier",
            "previous": "Pr&eacute;c&eacute;dent",
            "next": "Suivant",
            "last": "Dernier"
          },
          "processing": "Traitement en cours...",
          "search": "Rechercher&nbsp;:",
          "lengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
          "info": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "infoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "infoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "infoPostFix": "",
          "loadingRecords": "Chargement en cours...",
          "zeroRecords": "Pas de résultat trouvé.",
          "emptyTable": '<h2 class="lead text-center">Aucun CV enregistré</h2>'
        },
        "deferRender": true,
        "initComplete": function () {
          this.api().columns([1, 2, 3]).every(function () {
            var column = this;
            var select = $('<select><option value=""></option></select>').appendTo($(column.footer()).empty()).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val
                ? '^' + val + '$'
                : '', true, false).draw();
            });
            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          });
        },
        "columns": [
          {
            data: "name",
            defaultContent: ""
          }, {
            data: "school",
            defaultContent: ""
          }, {
            data: "year",
            defaultContent: ""
          }, {
            data: "specialty",
            defaultContent: ""
          }, {
            width: "20%",
            mRender: function (data, type, row) {
              return '<a target="_blank" href="' + row.resume_url + '">Visualiser CV</a>';
            }
          }
        ],
        "paging": true,
        "lengthChange": false,
        "searching": true
      });
    });
  </script>
{% endblock scripts %}
