{% extends 'companies/dashboard/section.html' %}
{% set title = 'Equipement' %}
{% set furnitures = get_furnitures() %}
{% block content %}
  <!-- /.box-header -->
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="info-box bg-aqua">
          <span class="info-box-icon">
            <i class="fa fa-bookmark-o"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Stand</span>
            <span class="info-box-number">
              {{ company.duration|to_days if company.duration else '??' }}
            </span>
            <span class="progress-description">
              <span class="info-box-number">
                {{ company.size|to_size if company.size else '??' }}
                m2
              </span>
            </div>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="col-md-4">
          <div class="info-box bg-green">
            <span class="info-box-icon">
              <i class="glyphicon glyphicon-object-align-right"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Type de stand</span>
              <span class="info-box-number">{{ 'Non équipé' if not company.equiped else 'Equipé' }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-4">
          <div class="info-box bg-yellow">
            <span class="info-box-icon">
              <i class="fa fa-map-signs"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Enseigne</span>
              <span class="info-box-number">
                <a href="#" id="banner" data-type="text" data-pk="{{ company.id }}" style="color:white" data-url="/update_banner" data-title="Entrez votre bannière">
                  {{ company.banner }}
                </a>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Liste des équipements</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <!-- /.col -->
                  <div class="col-md-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                      <div class="box-footer no-padding">
                        <table class="table table-responsive">
                          <tbody>
                            {% if company.equiped %}
                              {% for f in furnitures | selectattr('quantities') %}
                                <tr>
                                  <td>
                                    <span class="text-muted">{{ f.name }}</span>
                                  </td>
                                  <td>
                                    <span class="badge bg-grey">{{ f.quantities[company.size|to_size|string] }}</span>
                                  </td>
                                  <td>
                                    <span class="badge bg-grey">inclus</span >
                                  </td>
                                  <td>
                                    <i class="fa fa-remove" style="color:white"></i>
                                  </td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                            {% for furniture_id, quantity in company.sections.furnitures.items() %}
                              {% if quantity != 0 %}
                                {% set f = furniture_id | to_furniture %}
                                <tr>
                                  <td>{{ f.name }}</td>
                                  <td>
                                    <span class="badge bg-blue">{{ quantity }}</span>
                                  </td>
                                  <td>
                                    <span class="badge bg-blue">{{ f.price * quantity }}
                                      €</span>
                                  </td>
                                  <td>
                                    <i onclick="remove_furniture('{{ furniture_id }}')" class="fa fa-remove" style="color:red"></i>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Ajouter un équipement</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <form id="confirm_add">
            <div class="box-body">
              <div class="row r-center">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>équipement</label>
                    <select class="form-control select2 id" style="width: 100%;">
                      {% for f in furnitures %}
                        <option value="{{ f.id }}">{{ f.name }}
                          -
                          {{ f.price }}
                          €</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>quantité</label>
                    <select class="form-control select2 quantity" style="width: 100%;">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>total</label>
                    <p class="price">24 €</p>
                  </div>
                </div>
                <!-- /.box -->
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% block validate %}{{ super() }}{% endblock %}
  </div>
</div>
{% endblock content %}
{% block scripts %}
{{ super() }}
<script>
  function update_price() {
    var furnitures = {{ furnitures|tojson }};
    var id = $('.id').val();
    var price = 0;
    for (idx in furnitures) {
      if (furnitures[idx]['id'] == id) {
        price = furnitures[idx]['price'];
        break;
      }
    }
    price = price * Number($('.quantity').val());
    $('.price').html(price + ' €');
  }
  $("document").ready(function () {
    var $id = $('.id').select2();
    var $quantity = $('.quantity').select2();
    $id.on("select2:select", function (e) {
      update_price();
    });
    $quantity.on("select2:select", function (e) {
      update_price();
    });
  });
  $('#confirm_add').on('submit', function (e) {
    e.preventDefault();
    $('.box-footer .btn').prop('disabled', true);
    var company = {{ company|tojson }};
    var furnitures = company.sections.furnitures;
    var furniture_id = $(".id").val();
    var old_quantity = furnitures[furniture_id] || 0;
    var new_quantity = Number($(".quantity").val());
    furnitures[furniture_id] = old_quantity + new_quantity;
    $.ajax({
      type: "POST",
      url: "{{ url_for('companies.update_company') }}",
      data: {
        "company": JSON.stringify(company),
        "page": "equipement"
      },
      success: function (result) {
        if (result == "success") {
          Notify("Changements sauvegardés.");
          setTimeout(function () {
            location.reload();
          }, 1000);
        } else {
          Notify("Section validée: Impossible à modifier");
        }
      }
    });
    return false;
  });
  function remove_furniture(furniture_id) {
    var r = confirm("Confirmer la suppresion ?");
    if (r) {
      var company = {{ company|tojson }};
      var furnitures = company.sections.furnitures;
      delete furnitures[furniture_id];
      $.ajax({
        type: "POST",
        url: "{{ url_for('companies.update_company') }}",
        data: {
          "company": JSON.stringify(company),
          "page": "equipement"
        },
        success: function (result) {
          if (result == "success") {
            Notify("Suppression confirmée.");
            setTimeout(function () {
              location.reload();
            }, 1000);
          } else {
            Notify("Section validée: Impossible à modifier");
          }
        }
      });
    }
  }
</script>
{% endblock scripts %}
