{% extends 'users/base.html' %}
{% set title = 'Forum Rhône-Alpes' %}
{% block content %}
  <section class="home event-home-1 video-bg gradient-overlay editBG" id="event-home-1">
    <div class="section-video">
      <video autoplay="" poster="{{ url_for('static', filename='video/video_fra.jpg') }}" class="bgvid" loop=""></video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 text-center">
          <div class="logo-home">
            <!-- REPLACE WITH YOUR LOGO -->
            <br>
          </div>
          <p class="heading-pre-suf text-center text-uppercase" data-selector="Coming Soon">FRA 2017</p>
          <h1 class="heading-text" data-selector="Coming Soon">Forum Rhône-Alpes</h1>
          <p class="sub-heading" data-selector="Coming Soon">8 et 9 Mars 2017, Double Mixte<br></p>
          <div class="home-download-btn">
            <a href="{{ url_for('users.dashboard', page='fra') }}" class="btn btn-white btn-lg">
              {{ "Modifier ma participation" if current_user.is_authenticated else "S'inscrire au Forum Rhône-Alpes" }}
            </a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- APP FEATURES -->
  <section class="why app-features-5 padding-120-75 white-bg" id="why" style="outline-offset: -3px;">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="section-heading text-center">
            <h2 class="heading-text">Forum Rhône-Alpes</h2>
            <hr class="lines">
            <p class="sub-heading" style="color: rgb(97, 97, 97); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: Hind,
              sans-serif;">Notre dernière édition a réuni plus de 180 exposants et plus de 4000 étudiants et jeunes diplômés
              <br></p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-6
              col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
          <div class="media media-chained">
            <div class="media-left">
              <i class="icon svg-lightning-regular icon-shape width-75 radius-30 icon-border-1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path d="M32 0l-27.063 11.063 8 8-12.938 12.938 27.063-11.063-8-8zM24.875 20.438l-19.688 8 8.625-8.625 0.813-0.875-0.813-0.875-6.688-6.625 19.688-8-9.438 9.5 0.813 0.875z"></path>
                </svg>
              </i>
            </div>
            <div class="media-body">
              <h3 class="title-text" style="color: rgb(39, 39, 39); font-size: 22px; background-color: rgba(0, 0, 0, 0); font-family: Hind, sans-serif;">Des entreprises prestigieuses<br></h3>
              <p>Organisé par Forum Organisation, notre évènement vous permettra de parler à des entreprises de renom (SNCF, Wavestone...) pour réussir votre projet professionel
              </p>
            </div>
          </div>
          <div class="media media-chained">
            <div class="media-left">
              <i class="icon svg-gift-regular icon-shape width-75 radius-30 icon-border-1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M32 8h-10.188c0.563-0.625 0.938-1.5 0.938-2.438 0-2.125-1.563-3.688-3.688-3.688-1.188 0-2.438 0.563-3.063 1.563-0.625-1-1.813-1.563-3.063-1.563-2.125 0-3.688 1.563-3.688 3.688 0 0.938 0.375 1.813 0.938
              2.438h-10.188v4.938h1.25v17.188h29.5v-17.188h1.25zM19.063 3.063c1.375 0 2.5 1.125 2.5 2.5 0 1.313-1.125 2.438-2.5 2.438h-2.438v-2.438c0-1.375 1.125-2.5 2.438-2.5zM10.438 5.563c0-1.375 1.125-2.5 2.5-2.5 1.313 0 2.438 1.125 2.438
              2.5v2.438h-2.438c-1.375 0-2.5-1.125-2.5-2.438zM1.25 9.25h14.125v2.438h-14.125zM2.438 12.938h12.938v16h-12.938zM29.563 28.938h-12.938v-16h12.938zM30.75 11.688h-14.125v-2.438h14.125z"></path>
                </svg>
              </i>
            </div>
            <div class="media-body">
              <h3 class="title-text">Un évènement international</h3>
              <p>Pendant deux jours, vous aurez la chance de rencontrer de grands acteurs du recrutement à la fois en France mais aussi à l'étranger.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6
              col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
          <img src="{{ url_for('static', filename='images/forum.jpg') }}" alt="" class="img-responsive img-right" style="border-radius: 0px; border-color: rgb(153, 153, 153); border-style: none; border-width:
              1px;">
        </div>
      </div>
    </div>
  </section>
  <!-- SPONSORS -->
  <section class="sponsors-2 dark-image-bg gradient-overlay padding-120-125 editBG" id="sponsors-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
          <div class="section-heading text-center">
            <h2 class="heading-text">Les entreprises présentes</h2>
            <hr class="lines">
            <p class="sub-heading" style="margin-bottom:30px">Notre salon de recrutement se distingue par la présence de partenaires privilégiés provenant de secteurs divers et variés
            </p>
          </div>
          <!-- /.section-heading -->
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="client-logo">
            {% set companies = [ 'beijaflore', 'eiffage', 'loreal', 'mars', 'mbda', 'michelin', 'pg', 'reel', 'sncf', 'solutec', 'wavestone', 'groupeadf', 'groupehn', 'ge', 'homeserve' ] %}
            {% for c in companies %}
              <li><img src="{{ url_for('static', filename='images/logos/%s.png'|format(c)) }}" alt="{{ c }}"></li>
            {% endfor %}
          </ul>
          <div class="home-download-btn">
            <a href="{{ url_for('users.dashboard', page='companies') }}" class="btn btn-white btn-lg">
              {{ 'Accéder à la liste complète des entreprises' if current_user.is_authenticated else "Connectez-vous pour accéder à la liste complète" }}
            </a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
</section>
{% endblock content %}
