{% extends 'users/base.html' %}
{% set title = 'Journée Objectif Ingénieur' %}
{% block content %}
  <section class="home event-home-1 video-bg gradient-overlay editBG" id="event-home-1">
    <div class="section-video">
      <video autoplay="" poster="{{ url_for('static', filename='video/video_joi.jpg') }}" class="bgvid" loop="">
        <source src="{{ url_for('static', filename='video/video_joi.mp4') }}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
      </video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 text-center">
          <div class="logo-home">
            <!-- REPLACE WITH YOUR LOGO -->
            <br>
          </div>
          <p class="heading-pre-suf text-center text-uppercase" data-selector="Coming Soon">JOI 2017</p>
          <h1 class="heading-text" data-selector="Coming Soon">{{ _("Journée Objectif Ingénieur") }}</h1>
          <p class="sub-heading" data-selector="Coming Soon">{{ _("11 Janvier 2017, Amphi Capelle") }}<br></p>
          <div class="home-download-btn">
            <a href="{{ url_for('users.dashboard') }}" class="btn btn-white btn-lg">
              {{ 'Modifier ma participation' if current_user.is_authenticated else "S'inscrire à la Journée Objectif Ingénieur" }}
            </a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- APP FEATURES -->
  <section class="why app-features-5 padding-120-75 white-bg" id="why" style="outline-offset: -3px;">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="section-heading text-center">
            <h2 class="heading-text">{{ _("Journée Objectif Ingénieur") }}</h2>
            <hr class="lines">
            <p class="sub-heading" style="color: rgb(97, 97, 97); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: Hind,
              sans-serif;">Qu’est-ce qu’un ingénieur et quel sera ton métier à la sortie ?
              <br></p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-6
              col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
          <div class="media media-chained">
            <div class="media-left">
              <i class="icon svg-lightning-regular icon-shape width-75 radius-30 icon-border-1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path d="M32 0l-27.063 11.063 8 8-12.938 12.938 27.063-11.063-8-8zM24.875 20.438l-19.688 8 8.625-8.625 0.813-0.875-0.813-0.875-6.688-6.625 19.688-8-9.438 9.5 0.813 0.875z"></path>
                </svg>
              </i>
            </div>
            <div class="media-body">
              <h3 class="title-text" style="color: rgb(39, 39, 39); font-size: 22px; background-color: rgba(0, 0, 0, 0); font-family: Hind, sans-serif;">{{ _("Ajuste ton projet professionnel") }}<br></h3>
              <p>Organisée par Forum Organisation pour les étudiants de 2ème année, cette journée t’offrira un large aperçu des métiers à la sortie de notre école. Plus de 20 ingénieurs en activité viendront témoigner et partager leur expérience.
              </p>
            </div>
          </div>
          <div class="media media-chained">
            <div class="media-left">
              <i class="icon svg-gift-regular icon-shape width-75 radius-30 icon-border-1">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M32 8h-10.188c0.563-0.625 0.938-1.5 0.938-2.438 0-2.125-1.563-3.688-3.688-3.688-1.188 0-2.438 0.563-3.063 1.563-0.625-1-1.813-1.563-3.063-1.563-2.125 0-3.688 1.563-3.688 3.688 0 0.938 0.375 1.813 0.938
              2.438h-10.188v4.938h1.25v17.188h29.5v-17.188h1.25zM19.063 3.063c1.375 0 2.5 1.125 2.5 2.5 0 1.313-1.125 2.438-2.5 2.438h-2.438v-2.438c0-1.375 1.125-2.5 2.438-2.5zM10.438 5.563c0-1.375 1.125-2.5 2.5-2.5 1.313 0 2.438 1.125 2.438
              2.5v2.438h-2.438c-1.375 0-2.5-1.125-2.5-2.438zM1.25 9.25h14.125v2.438h-14.125zM2.438 12.938h12.938v16h-12.938zM29.563 28.938h-12.938v-16h12.938zM30.75 11.688h-14.125v-2.438h14.125z"></path>
                </svg>
              </i>
            </div>
            <div class="media-body">
              <h3 class="title-text">{{ _("Programme de la journée") }}</h3>
              <p>Pour cela, différentes activités, inscrites à ton emploi du temps, auront lieu pendant la journée : conférences le matin et tables rondes l’après-midi
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6
              col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
          <img src="{{ url_for('static', filename='images/amphi.jpg') }}" alt="" class="img-responsive img-right" style="border-radius: 0px; border-color: rgb(153, 153, 153); border-style: none; border-width:
              1px;">
        </div>
      </div>
    </div>
  </section>
</section>
<section class="descriptions schedule padding-120-75 secondary-bg" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2
              col-sm-offset-1">
        <div class="section-heading text-center">
          <h2 class="heading-text" data-selector="Coming Soon">{{ _("Planning") }}</h2>
          <hr class="lines">
          <p class="sub-heading" data-selector="Coming Soon"></p>
        </div>
        <!-- /.section-heading -->
      </div>
    </div>
    <!-- /.row -->
    <div class="row" style="padding-top:0px;">
      <div class="col-md-12" style="padding-top:0px;">
        <!-- TAB PANES -->
        <div class="schedule-content tab-content" style="padding-top:0px;">
          <!-- DAY 1 -->
          <div role="tabpanel" class="tab-pane fade
              in active" id="day-1" style="padding-top:0px;">
            <div class="row">
              <!-- OBJECTIVE -->
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <div class="objective-time">
                  <p data-selector="Coming Soon">8<sup>H</sup>15-10<sup>H</sup>30<sup></sup>
                  </p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="objective secondary-color-bg">
                  <h3 class="title-text">{{ _("Conférence plénière") }}<br></h3>
                  <p>
                    <strong>Intervenants
                    </strong>
                    <div class="row">
                      <div class="col-md-6">
                        François-Xavier Nicolas (IF)<br>
                        Michel Arnaud (GE)
                      </div>
                      <div class="col-md-6">
                        Aline Barthélémy (GI)<br>
                        Jacques Gruat (GEN)
                      </div>
                    </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- /END OBJECTIVE -->
          <br><br>
          <div class="row">
            <!-- OBJECTIVE -->
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="objective-time">
                <p data-selector="Coming Soon">10<sup>H</sup>30 - 12<sup>H</sup>
                </p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="objective secondary-color-bg">
                <h3 class="title-text" data-selector="Coming Soon">{{ _("Conférences") }}</h3>
                <p>
                  <strong>BS</strong>
                  : Pierre Aeschimann<br>
                  <strong>GCU</strong>
                  : Didier Peyrard<br>
                  <strong>GEN</strong>
                  : Jacques Gruat et Ophélie Bernon<br>
                  <strong>GI
                  </strong>: Aline Barthélémy et Thibaut Flamant<br>
                  <strong>GM</strong>
                  : Jean-Paul Boy, Eric Bublex et Christophe Ulrich<br>
                  <strong>IF</strong>
                  : FX Nicolas et Antoine Coulet<br>
                  <strong>GE</strong>
                  : Michel Arnaud et François Drouin<br>
                  <strong>SGM</strong>
                  : Bérengère Bouvier-Jinot et François Chaudoreille<br>
                </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <!-- /END OBJECTIVE -->
          <br><br>
          <div class="row">
            <!-- OBJECTIVE -->
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="objective-time">
                <p data-selector="Coming Soon">14<sup>H</sup>
                  - 15<sup>H</sup>30</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="objective secondary-color-bg">
                <h3 class="title-text" data-selector="Coming Soon">{{ _("Tables rondes") }}</h3>
                <table style="width:100%">
                  <tbody>
                    <tr>
                      <td>
                        <strong>Bureau d'étude</strong>
                      </td>
                      <td>Ophélie Bernon (GEN), Eric Bublex (GM)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Gestion de carrière") }}</strong>
                      </td>
                      <td>Pierre Aeschimann (BS), Jean-Paul Boy : (GM)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Ingénieur Informatique") }}</strong>
                      </td>
                      <td>Pierre-Yves Royer (GCU), François-Xavier Nicolas (IF)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Ingénieur Travaux") }}</strong>
                      </td>
                      <td>Guillaume Charton (GCU), Attila Aszmann (Construction Métallique)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Chef de Projet") }}</strong>
                      </td>
                      <td>Antoine Coulet (IF), Michel Magnin (Construction Métallique)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>R&amp;D</strong>
                      </td>
                      <td>Didier Peyrard (GCU), Patrice Heyde (GP)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Ingénieur Entrepreneur") }}</strong>
                      </td>
                      <td>François Chaudoreille (SGM), Christophe Ulrich (GM)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Audit et Conseil") }}</strong>
                      </td>
                      <td>Robin Blanchard (GI)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Reconversion d'un ingénieur</strong>
                      </td>
                      <td>Arnaud Callendret (GE)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Chargé d'affaires</strong>
                      </td>
                      <td>Bérengère Bouvier Jinot (GPM), Thibaut Flamant (GI)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Carrière à l'international</strong>
                      </td>
                      <td>Aline Barthélémy (GI), Joseph Tronchi (GM)</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>{{ _("Logistique et Achats") }}</strong>
                      </td>
                      <td>Jacques Gruat (GEN), Michel Arnaud (GE)</td>
                    </tr>
                  </tbody>
                </table>
              </p>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- /END OBJECTIVE -->
        <br><br>
        <div class="row">
          <!-- OBJECTIVE -->
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="objective-time">
              <p data-selector="Coming Soon">15<sup>H</sup>30 - 17<sup>H</sup>
              </p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="objective
              secondary-color-bg">
              <h3 class="title-text" data-selector="Coming Soon">{{ _("Tables rondes") }}</h3>
              <table style="width:100%">
                <tbody>
                  <tr>
                    <td>
                      <strong>Bureau d'étude</strong>
                    </td>
                    <td>Ophélie Bernon (GEN), Eric Bublex (GM)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Gestion de carrière") }}</strong>
                    </td>
                    <td>Pierre Aeschimann (BS), Jean-Paul Boy : (GM)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Ingénieur Informatique") }}</strong>
                    </td>
                    <td>Pierre-Yves Royer (GCU), François-Xavier Nicolas (IF)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Ingénieur Travaux") }}</strong>
                    </td>
                    <td>Guillaume Charton (GCU), Attila Aszmann (Construction Métallique)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Chef de Projet") }}</strong>
                    </td>
                    <td>Antoine Coulet (IF), Michel Magnin (Construction Métallique)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>R&amp;D</strong>
                    </td>
                    <td>Didier Peyrard (GCU), Patrice Heyde (GP)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Ingénieur Entrepreneur") }}</strong>
                    </td>
                    <td>François Chaudoreille (SGM), Christophe Ulrich (GM)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>{{ _("Audit et Conseil") }}</strong>
                    </td>
                    <td>Robin Blanchard (GI), Michel Arnaud (GE)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Reconversion d'un ingénieur</strong>
                    </td>
                    <td>Arnaud Callendret (GE), Jacques Gruat (GEN)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Chargé d'affaires</strong>
                    </td>
                    <td>Bérengère Bouvier Jinot (GPM), Thibaut Flamant (GI)</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Carrière à l'international</strong>
                    </td>
                    <td>Aline Barthélémy (GI), Joseph Tronchi (GM)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <!-- /END OBJECTIVE -->
      </div>
      <!-- /END DAY 1 -->
    </div>
  </div>
</div>
<!-- /.row -->
</div>
</section>
{% endblock content %}
