{% extends 'base_sign.html' %}
{% set title = 'Mot de passe oublié' %}
{% block loginbox %}
  <div class="login-box-body">
    <h3 class="login-box-msg">Récupérer le mot de passe</h3>
    <form action="{{ url_for('users.reset_password_request') }}" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" value="{{request.form.id}}" placeholder="Email" name="email" autofocus required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      {% if error or get_flashed_messages() %}
        <div class="form-group has-feedback">
          {% if error == "user_does_not_exist" %}
            <span class="text-blue">{{ _("Aucun utilisateur n'est associé à cette adresse.") }}</span>
          {% endif %}
          {% if "empty_fields" in get_flashed_messages() %}
            <span class="text-error">{{ _("Veuillez saisir votre adresse mail.") }}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-lg">Récupérer le mot de passe</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <div>
      <a href="{{ url_for('users.signin')}} " class="panel-footer text-center">
        <i class="fa fa-sign-in"></i>
        Retour à l'écran de connexion</a>
    </div>
  </div>
{% endblock loginbox %}
{% block scripts %}
{% endblock scripts %}
