{% extends 'base_sign.html' %}
{% set title = 'Création de compte' %}
{% block loginbox %}
  <div class="login-box-body">
    <h3 class="login-box-msg">S'inscrire à la plateforme</h3>
    <form action="{{ url_for('users.signup') }}" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" value="{{request.form.id}}" placeholder="Email" name="email" autofocus required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" value="{{request.form.password}}" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Confirmation du mot de passe" name="re_password" value="{{request.form.password}}" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      {% if error or get_flashed_messages() %}
        <div class="form-group has-feedback">
          {% if error == "user_already_exists" %}
            <span class="text-blue">{{ _("Un utilisateur existe déjà associé à cet email.") }}</span>
          {% endif %}
          {% if "empty_fields" in get_flashed_messages() %}
            <span class="text-error">{{ _("Des champs sont manquants...") }}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-lg">S'inscrire</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <div>
      <a href="{{ url_for('users.signin')}} " class="panel-footer text-center">
        <i class="fa fa-sign-in"></i>
        Retour à l'écran de connexion</a>
    </div>
  </div>
{% endblock loginbox %}
{% block scripts %}
  <script>
    $('input[type=password]').change(function () {
      var $pass = document.getElementsByName("password")[0];
      var $re_pass = document.getElementsByName("re_password")[0];
      if ($pass.value !== $re_pass.value) {
        $pass.setCustomValidity("Les mots de passes ne sont pas identiques.");
      } else {
        $pass.setCustomValidity('');
      }
    });
  </script>
{% endblock scripts %}
