<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum Organisation | Gestion</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/common.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/admin.min.css') }}"></link>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    {% set identicode = '%s-%s' | format(user.id[: 5], user.confirmed_on) %}
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">
        <!-- Logo -->
        <a href="{{ url_for('index') }}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">
            <b>F</b>O</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">
            <b>Forum</b>Organisation</span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a>
                  <!-- The user image in the navbar-->
                  <img class="user-image" src="{{ url_for('identicon', text=identicode) }}" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">
                    {% if not user.profile.first_name %}
                      {{ user.id.split('@')[0] }}
                    {% else %}
                      {{ "%s %s"|format(user.profile.first_name|capitalize, user.profile.name|capitalize)}}
                    {% endif %}
                  </span>
                </a>
              </li>
              <!-- Sign Out Menu -->
              <li class="dropdown messages-menu">
                <a href="{{url_for('index')}}">
                  <i class="fa fa-sign-out"></i>
                  <span class="hidden-xs">Retour à l'accueil</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img class="user-image" src="{{ url_for('identicon', text=identicode) }}" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>
                {% if not user.profile.first_name %}
                  {{ user.id.split('@')[0] }}
                {% else %}
                  {{ "%s %s"|format(user.profile.first_name|capitalize, user.profile.name|capitalize)}}
                {% endif %}
              </p>
              <!-- Status -->
              <a href="#">
                <i class="fa fa-circle text-success"></i>
                En Ligne</a>
            </div>
          </div>
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Menu</li>
            {% block sections %}{% endblock sections %}
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {% block header %}{% endblock header %}
        </section>
        <!-- Main content -->
        <section class="content">
          {% block content %}{% endblock content %}
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Main Footer -->
      <footer class="main-footer no-print">
        {% block footer %}{% endblock footer %}
      </footer>
    </div>
    <div id="notifications"></div>
    <!-- ./wrapper -->
    <script type="text/javascript" src="{{ url_for('static', filename='build/common.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='build/admin.min.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
