{% extends 'users/dashboard/section.html' %}
{% set title = company.name %}
{% block content %}
  <div class="row">
    <!-- PROFIL -->
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ url_for('static', filename='images/company.png') }}" alt="User profile picture">
          <h3 class="profile-username text-center">
            {{ company.name }}
          </h3>
          <p class="text-muted text-center">{{ company.info.sector }}</p>
          <ul class="list-group list-group-unbordered">
            {% if company.info.city and company.info.country %}
              <li class="list-group-item">
                <b>Lieu</b>
                <a class="pull-right">{{ '%s, %s'|format(company.info.city, company.info.country) }}</a>
              </li>
            {% endif %}
            {% if company.info.website %}
              <li class="list-group-item">
                <b>Site</b>
                <a class="pull-right" href="{{ company.info.website }}" target="_blank">{{ company.info.website }}</a>
              </li>
            {% endif %}
            {% if company.info.revenue %}
              <li class="list-group-item">
                <b>Chiffre d'affaires</b>
                <a class="pull-right">{{ company.info.revenue }}</a>
              </li>
            {% endif %}
            {% if company.info.salary %}
              <li class="list-group-item">
                <b>Salaire</b>
                <a class="pull-right">{{ company.info.salary }}</a>
              </li>
            {% endif %}
            {% if company.info.enrollment %}
              <li class="list-group-item">
                <b>Effectif</b>
                <a class="pull-right">{{ company.info.enrollment }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            {{ header_section("Description de l'entreprise") }}
            <div class="box-body">
              {% if company.info.description %}
                <p class="lead text-center">{{ company.info.description }}</p>
              {% else %}
                <p class="lead text-center">Aucune description enregistrée</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
