{% extends 'users/dashboard/section.html' %}
{% set title = 'Vue générale' %}
{% macro more_button(name) -%}
  <strong>
    <a href="{{ url_for('users.dashboard', page=name) }}">
      <span class="pull-right badge bg-grey">Consulter / Modifier</a>
    </span>
  </strong>
{%- endmacro %}
{% block content %}
  <div class="row">
    <!-- PROFIL -->
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{ url_for('main.identicon', text=identicode) }}" alt="User profile picture">
          <h3 class="profile-username text-center">
            {% if not user.profile.first_name %}
              Profil incomplet
            </h3>
            <p class="text-muted text-center">Veuillez remplir votre profil pour finaliser votre inscription.</p>
          {% else %}
            {{ user.profile.first_name }}
            {{ user.profile.name }}</h3>
          <p class="text-muted text-center">{{ user.profile.school }}</p>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Formation</b>
              <a class="pull-right">{{ user.profile.year }}</a>
            </li>
            <li class="list-group-item">
              <b>Ecole</b>
              <a class="pull-right">{{ user.profile.school }}</a>
            </li>
            <li class="list-group-item">
              <b>Téléphone</b>
              <a class="pull-right">{{ user.profile.tel }}</a>
            </li>
          </ul>
        {% endif %}
        {{ more_button('profile') }}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-md-9">
    <div class="box">
      {{ header_section('Forum Rhône-Alpes') }}
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-solid">
              <div class="box-body table-responsive no-padding">
                {% if user.events.fra.registered %}
                  <tr>
                    <td colspan="4">
                      <h2 class="lead text-center">Inscription au Forum Rhône-Alpes validée.
                      </h2>
                      <p class="text-center">Rendez-vous le 7 et 8 Mars au Double Mixte !</p>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="4">
                      <h2 class="lead text-center">Aucune participation enregistrée :(</h2>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{ more_button('fra') }}
  </div>
</div>
</div>
</div>
{% endblock content %}
