{% extends 'users/dashboard/section.html' %}
{% set title = 'Liste des offres' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des offres</h3>
        </div>
        <div class="box-body">
          <table class="table responsive table-hover nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Détails</th>
                <th>Entreprise</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Durée</th>
                <th>Lieu</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Entreprise</th>
                <th></th>
                <th>Type</th>
                <th>Durée</th>
                <th>Lieu</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block style %}
  {{ super() }}
  <style>
    td.details-control {
      background: url("../../../static/images/open.png") no-repeat center center;
      cursor: pointer;
    }
  </style>
{% endblock style %}
{% block scripts %}
  {{ super() }}
  <script>
    function format(d) {
      s = '<div style="padding:5px 10px 0px 10px"><h4>Description de l\'offre</h4><p>' + d.description.replace(/(?:\r\n|\r|\n)/g, '<br />') + '</p>';
      if (d.url) {
        s += '<p class="lead">' + d.url + '</p>';
      }
      s += '</div>';
      return s;
    }
    $(document).ready(function () {
      var jobs = {{ get_jobs() | tojson }};
      var table = $('.table').DataTable({
        "data": jobs,
        "language": {
          "paginate": {
            "first": "Premier",
            "previous": "Pr&eacute;c&eacute;dent",
            "next": "Suivant",
            "last": "Dernier"
          },
          "processing": "Traitement en cours...",
          "search": "Rechercher&nbsp;:",
          "lengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
          "info": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "infoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "infoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "infoPostFix": "",
          "loadingRecords": "Chargement en cours...",
          "zeroRecords": "Pas de résultat trouvé.",
          "emptyTable": '<h2 class="lead text-center">Aucune offre enregistrée</h2>'
        },
        "initComplete": function () {
          this.api().columns([1, 3, 4, 5]).every(function () {
            var column = this;
            var select = $('<select><option value=""></option></select>').appendTo($(column.footer()).empty()).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val
                ? '^' + val + '$'
                : '', true, false).draw();
            });
            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          });
        },
        "columns": [
          {
            width: "3%",
            className: 'details-control',
            orderable: false,
            data: null,
            defaultContent: ''
          }, {
            data: "name"
          }, {
            data: "title"
          }, {
            data: "type"
          }, {
            data: "duration"
          }, {
            data: "location"
          }
        ],
        "paging": true,
        "lengthChange": false,
        "searching": true
      });
      $('.table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);
        if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
        } else {
          // Open this row
          row.child(format(row.data())).show();
          tr.addClass('shown');
        }
      });
    });
  </script>
{% endblock scripts %}
