{% extends 'users/dashboard/section.html' %}
{% set title = 'Profil' %}
{% block style %}
  {{ super() }}
  <style>
    @media (min-width: 992px) {
      .dropzone .dz-preview {
        min-width: 40% !important;
      }
    }
    .dropzone .dz-preview {
      margin: 0;
      min-width: 100%;
    }
    .dz-image {
      width: auto !important;
    }
  </style>
{% endblock style %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            Modifie ton profil
          </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <form action="{{ url_for('users.update_profile') }}" id="update_profile" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="first_name">Prénom</label>
                  <div class="input-group col-md-12">
                    <input id="first_name" name="first_name" type="text" class="form-control" placeholder="Ex. Marie" value="{{ user.profile.first_name if user.profile.first_name else '' }}" required>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Nom</label>
                  <div class="input-group col-md-12">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Ex. Bricout" value="{{ user.profile.name if user.profile.name else '' }}" required>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tel">Téléphone (optionnel)</label>
                  <div class="input-group col-md-12">
                    <input id="tel" name="tel" type="text" class="form-control tel" placeholder="ex. 06 12 34 56 78" value="{{ user.profile.tel if user.profile.tel else '' }}" data-mask>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  {% set schools = 'schools' | to_fields %}
                  <label for="school">Ecole</label>
                  <div class="input-group col-md-12">
                    <select id="school" name="school" style="width:{{'100' if user.profile.school in schools or not user.profile.school else '50' }}%" class="form-control" required>
                      {% for s in schools | sort %}
                        <option {{ 'selected' if user.profile.school == s or loop.first else '' }}>{{ s }}</option>
                      {% endfor %}
                      <option {{ 'selected' if user.profile.school and user.profile.school not in schools else '' }}>Autre</option>
                    </select>
                    <input
                      type="text"
                      name="school_"
                      style="{{ 'display:none;' if user.profile.school in schools or not user.profile.school else '' }} margin:3px 0px 3px 5px; width:45%;"
                      placeholder="Votre école..."
                      value="{{ user.profile.school if user.profile.school not in schools else ''}}"
                      class="school_"
                      {{ 'required' if not user.profile.school else ''}}>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                {% set specialties = 'specialties' | to_fields %}
                <div class="form-group">
                  <label for="specialty">Spécialité</label>
                  <select id="specialty" name="specialty" class="form-control" style="width: 100%;">
                    {% for s in specialties | sort %}
                      <option {{ 'selected' if user.profile.specialty == s else '' }}>{{ s }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                {% set years = 'years' | to_fields %}
                <div class="form-group">
                  <label for="year">Année d'étude</label>
                  <select id="year" name="year" class="form-control" style="width: 100%;">
                    {% for y in years | sort %}
                      <option {{ 'selected' if user.profile.year == y else '' }}>{{ y }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Confirmer</button>
          </div>
        </form>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <div style="margin-bottom:0px">
            <form id="dropzone" style="margin-bottom:0px" class="dropzone dz-clickable" method="POST" enctype="multipart/form-data">
              <div class="dz-message">
                Glisse ton CV ou clique ici pour l'uploader.<br>
                <span class="note">(Seuls les documents PDF sont acceptés.)</span>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box -->
  </div>
{% endblock content %}
{% block scripts %}
  {{ super() }}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {% if message == 'profile_completed' %}
        <script>
          Notify("Changements sauvegardés.");
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
  <script>
    Dropzone.autoDiscover = false;
    $(document).ready(function () {
      $(".tel").inputmask("99 99 99 99 99", {"placeholder": "0x-xx-xx-xx-xx"});
      $('#school').change(function () {
        if ($('#school option:selected').text() == "Autre") {
          $('.school_').show();
          $('#school').css('width', '50%');
          $(".school_").prop('required', true);
        } else {
          $('.school_').hide();
          $('.school_').val('');
          $(".school_").prop('required', false);
          $('#school').css('width', '100%');
        }
      })
      $(function () {
        var cur_resume = {{ user.profile.resume_id|to_info|safe }};
        var myDropzone = new Dropzone("#dropzone", {
          url: "{{ url_for('main.resume', _method='POST') }}",
          maxFilesize: 5, // in MB
          maxFiles: 1,
          paramName: "resume",
          uploadMultiple: false,
          acceptedFiles: "application/pdf",
          init: function () {
            this.on("addedfile", function (file) {
              console.log(file);
              var removeButton = Dropzone.createElement("<a class='dz-remove'>Supprimer CV</a>");
              var _this = this;
              removeButton.addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                _this.removeFile(file);
                myDropzone.options.maxFiles = 1;
                $.ajax({
                  type: "DELETE",
                  url: "{{ url_for('main.resume') }}",
                  data: {
                    "oid": cur_resume.oid
                  },
                  success: function (result) {
                    if (result == 'success') {
                      Notify("Changements sauvegardés.");
                    } else {
                      Notify("Une erreur est survenue. Réessayez.", null, null, "warning");
                    }
                  }
                });
              });
              file.previewElement.appendChild(removeButton);
              if (!cur_resume.empty) {
                var previewButton = Dropzone.createElement("<a target='_blank' href='" + cur_resume.url + "' class='dz-remove'>Visualiser CV</a>");
                file.previewElement.appendChild(previewButton);
              }
            });
          }
        });
        myDropzone.on("maxfilesexceeded", function (file) {
          this.removeFile(file);
        });
        if (!cur_resume.empty) {
          var mockFile = {
            name: cur_resume.name,
            size: cur_resume.size
          };
          myDropzone.emit("addedfile", mockFile);
          myDropzone.emit("complete", mockFile);
          myDropzone.options.maxFiles = 0;
        }
      });
    });
  </script>
{% endblock scripts %}
