{% extends "dashboard/section.html" %}
{% set title = 'Journée Objectif Ingénieur' %}
{% set events = get_joi() %}
{% block main %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des participations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                {% if not user.events.joi|empty_event %}
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Nom de l'évènement</th>
                        <th>Horaire</th>
                        <th><i class="fa fa-remove"></i></th>
                    </tr>
                    {% for k,v in user.events.joi.items() %}
                        {% if v.registered %}
                        <tr>
                            <td>{{ v.name }}</td>
                            <td>
                            {% if v.time %}
                                {{ '14h00-15h30' if v.time == 'first' else '15h30-17h00' }}
                            {% else %}
                                {{ '10h45-12h00' }}
                            {% endif %}
                            </td>
                            <td><i onclick="remove_event({{ k }}, {{ v.time }})" class="fa fa-remove" style="color:red"></i></td>
                        </tr>
                        {% endif %}
                    {% endfor%}
                    {% else %}
                    <tr>
                        <td colspan="4"><h2 class="lead text-center">Aucune participation enregistrée :(</h2></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Choisir une table ronde</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>sélectionner</label>
                            <select id="conference" class="form-control">
                            <optgroup label="14h00-15h30">
                            {% for e in events %}
                                {% if e.type == 'table_ronde' %}
                                <option>{{ e.name }} - {{e.places_left.first}} places(s)</option>
                                {% endif %}
                            {% endfor %}
                            </optgroup>
                            <optgroup label="15h30-17h00">
                            {% for e in events %}
                                {% if e.type == 'table_ronde' %}
                                <option>{{ e.name }} - {{e.places_left.second}} places(s)</option>
                                {% endif %}
                            {% endfor %}
                            </optgroup>
                            </select>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="box-footer">
                <button id="confirm_conference" type="submit" class="btn btn-primary">Confirmer</button>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Choisir une conférence</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>sélectionner</label>
                            <select id="table_ronde" class="form-control">
                            {% for e in events %}
                                {% if e.type == 'conference' %}
                                <option>{{ e.name }} - {{e.places_left}} places(s)</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>
            </div>
            <div class="box-footer">
                <button id="confirm_table_ronde" type="submit" class="btn btn-primary">Confirmer</button>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock main %}
{% block scripts %}
<script type="text/javascript">
$('#confirm_conference').on('click', function(e) {
    e.preventDefault();
    var name = $("#conference").val();
    $.ajax({
        type: "POST",
        url: "{{ url_for('update_conference') }}",
        data: {"name": name},
        success: function() {
            Notify("Changements sauvegardés.");
            setTimeout(function(){
                location.reload();
            }, 1000);
        }
    });
    }
    else {
        Notify("Veuillez remplir tous les champs.", null, null, "error");
    }
    return false;
});

$('#confirm_table_ronde').on('click', function(e) {
    e.preventDefault();
    var joi = {{ user.events.joi|tojson }};
    var events = {{ get_joi()|tojson }};
    var event = {
       name: $("#event").val(),
       time: $("#time").val()
    };
    if (event.name) {
        if ()
        $.ajax({
            type: "POST",
            url: "{{ url_for('update_user') }}",
            data: {"user": JSON.stringify(user)},
            success: function() {
                Notify("Changements sauvegardés.");
                setTimeout(function(){
                    location.reload();
                }, 1000);
            }
        });
    }
    else {
        Notify("Veuillez remplir tous les champs.", null, null, "error");
    }
    return false;
});

function remove_event(event_name) {
    var r = confirm("Confirmer la suppresion ?");
    if (r) {
        var user = {{ user|tojson }};
        $.ajax({
            type: "POST",
            url: "{{ url_for('update_user') }}",
            data: {"user": JSON.stringify(user)},
            success: function() {
                Notify("Suppression confirmée.");
                setTimeout(function(){
                    location.reload();
                }, 1000);
            }
        });
    }
}

</script>
{% endblock scripts %}
