{% extends "dashboard/section.html" %}
{% set title = 'Profil' %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          {% if user.profile.first_name and user.profile.name and user.profile.tel and user.profile.year and user.profile.school %}
            <tr>
              <td colspan="4">
                <h2 class="lead text-center">
                  Bonjour,
                  {{ user.profile.first_name }}
                  {{ user.profile.name }}
                  !
                </h2>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="4">
                <h2 class="lead text-center">Ton profil n'est pas complet :(</h2>
              </p>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      {% if user.profile.first_name %}
        Modifie ton profil
      {% else %}
        Remplis ton profil
      {% endif %}
    </h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <!-- /.box-header -->
  <form action="{{ url_for('update_profile') }}" method="post" enctype="multipart/form-data">
    <div class="box-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Prénom</label>
            <div class="input-group">
              <input name="first_name" type="text" class="form-control" placeholder="Marie" style="width: 100%;" size="50" {% if user.profile.first_name %} value="{{ user.profile.first_name }}" {% else %} value="" {% endif %} required>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nom</label>
            <div class="input-group">
              <input name="name" type="text" class="form-control" placeholder="Martin" size="50" {% if user.profile.name %} value="{{ user.profile.name }}" {% else %} value="" {% endif %} required>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Téléphone</label>
            <div class="input-group">
              <input name="tel" type="text" class="form-control tel" placeholder="06 xx xx xx xx" size="50" {% if user.profile.tel %} value="{{ user.profile.tel }}" {% else %} value="" {% endif %} data-mask required>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Ecole</label>
            <select name="school" class="form-control select2" style="width: 100%;" {% if user.profile.school %} value="{{ user.profile.school }}" {% else %} value="" {% endif %} required>
              <option {% if user.profile.school == 'INSA Lyon' %} selected {% endif %}>INSA Lyon</option>
              <option {% if user.profile.school == 'CPE Lyon' %} selected {% endif %}>CPE Lyon</option>
              <option {% if user.profile.school == 'Polytech Lyon' %} selected {% endif %}>Polytech Lyon</option>
              <option {% if user.profile.school == 'Centrale Lyon' %} selected {% endif %}>Centrale Lyon</option>
              <option {% if user.profile.school == 'EM Lyon' %} selected {% endif %}>EM Lyon</option>
              <option {% if user.profile.school == 'Université Lyon 1' %} selected {% endif %}>Université Lyon 1</option>
              <option {% if user.profile.school == 'Université Lyon 2' %} selected {% endif %}>Université Lyon 2</option>
              <option {% if user.profile.school == 'Université Lyon 3' %} selected {% endif %}>Université Lyon 3</option>
              <option {% if user.profile.school == 'IAE' %} selected {% endif %}>IAE</option>
              <option {% if user.profile.school == 'Autre' %} selected {% endif %}>Autre</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          {% set specialties = ['Informatique','Electronique','Biochimie','Télécommunications','Bioinformatique','Commercial & Marketing','Chimie','Biologie','Matériaux','Agronomie','Génie Industriel','Génie Civil','Génie Mécanique','Génie Electrique','Génie
          Énergétique']%}
          <div class="form-group">
            <label>Spécialité</label>
            <select name="specialty" class="form-control select2" style="width: 100%;">
              {% for s in specialties %}
                <option {{ 'selected' if user.profile.specialty == s else '' }}>{{ s }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Année d'étude</label>
            <select name="year" class="form-control select2" style="width: 100%;" {% if user.profile.year %} value="{{ user.profile.year }}" {% else %} value="" {% endif %}>
              <option {% if user.profile.year == 'Bac+1' %} selected {% endif %}>Bac+1</option>
              <option {% if user.profile.year == 'Bac+2' %} selected {% endif %}>Bac+2</option>
              <option {% if user.profile.year == 'Bac+3' %} selected {% endif %}>Bac+3</option>
              <option {% if user.profile.year == 'Bac+4' %} selected {% endif %}>Bac+4</option>
              <option {% if user.profile.year == 'Bac+5' %} selected {% endif %}>Bac+5</option>
              <option {% if user.profile.year == 'Autre' %} selected {% endif %}>Autre</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="resume">
              Curriculum Vitae
              {% if user.profile.resume_id %}
                <a href="{{ user.profile.resume_id|to_url }}">(voir
                  {{ user.profile.resume_id|to_filename }})</a>
              {% endif %}
            </label>
            <input type="file" name="resume">
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Confirmer</button>
    </div>
  </form>
  <!-- /.box-body -->
</div>
</div>
<!-- /.box -->
</div>
</div>
{% endblock content %}
{% block scripts %}
<!-- InputMask -->
<script src="{{ url_for('static', filename='plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<!-- Page script -->
<script>
$(function () {
  $(".tel").inputmask("99 99 99 99 99", {"placeholder": "0x-xx-xx-xx-xx"});
});
</script>
{% endblock scripts %}
