<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum Organisation |
      {{ title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/common.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/login.min.css') }}"></link>
    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  {% block content %}
    {% block scripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='build/common.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='build/login.min.js') }}"></script>
    {% endblock scripts %}
  {% endblock content %}
</html>
