{% extends "base_index.html" %}
{% set title = 'Accueil'%}
{% block home %}
  <section class="home app-home-3 video-bg gradient-overlay text-center editBG" id="home">
    <div class="section-video">
      <video autoplay="" poster="{{ url_for('static', filename='video/video_joi.jpg') }}" class="bgvid" loop="" muted="true">
        <source src="{{ url_for('static', filename='video/video2.mp4') }}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
      </video>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-7 col-index">
          <h1 class="text-left" style="color:white; font-size:44px">Nous générons le contact</h1>
          <p class="text-left" style="font-size:22px; font-weight:100; line-height:1.5">Au sein de Forum Organisation, notre objectif est de générer le contact entre les étudiants et les différents acteurs du monde de l'entreprise.
          </p>
        </div>
        <div class="col-md-5 col-index">
          <form action="{{ url_for('register') }}" method="post">
            <div class="form-group has-feedback">
              <input type="email" class="form-control" value="{{request.form.id}}" placeholder="Email" name="email" autofocus required>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Mot de passe" name="password" value="{{request.form.password}}" required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Confirmation du mot de passe" name="re_password" value="{{request.form.password}}" required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            {% if error %}
              <div class="form-group has-feedback">
                {% if error == "user_already_exists" %}
                  <span class="text-blue">Un utilisateur existe déjà associé à cet email.</span>
                {% endif %}
              </div>
            {% endif %}<br/>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-white btn-block btn-lg">S'inscrire maintenant</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>
<section>
  <table class="table-responsive" border="1" bordercolor="#ffffff">
    <tr>
      <th>
        <a href="{{
            url_for('index', page='styf') }}"><img src="{{ url_for('static', filename='images/STYF12.png')}}" alt="" class="img-responsive img"></a>
      </th>
      <th>
        <a href="{{
            url_for('index', page='master_class') }}"><img src="{{ url_for('static', filename='images/mc_ouvert.png')}}" alt="" class="img-responsive img"></a>
      </th>
      <th>
        <a href="{{ url_for('index', page='joi') }}"><img src="{{url_for('static', filename='images/joi_ferme.png')}}" alt="" class="img-responsive img"></a>
      </th>
    </tr>
  </table>
</section>
{% endblock home %}
{% block style %}
<style>
  img:hover {
    -webkit-filter: brightness(120%);
  }

</style>
{% endblock style %}
{% block scripts %}
<script>
  $('input[type=password]').change(function () {
    var $pass = document.getElementsByName("password")[0];
    var $re_pass = document.getElementsByName("re_password")[0];
    if ($pass.value !== $re_pass.value) {
      $pass.setCustomValidity("Les mots de passes ne sont pas identiques.");
    } else {
      $pass.setCustomValidity('');
    }
  });
</script>
{% endblock scripts %}
