<html>
<head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title>Forum Rhône-Alpes | Accueil</title>

    <!-- META DATA -->
    <meta name="description"
          content="Le Forum Rhône-Alpes est le premier salon de recrutement d'élèves ingénieurs de France. La 31ème édition aura lieu les 8 & 9 mars 2017">
    <meta name="keywords"
          content="forum rhône alpes, forum rhone alpes, forum recrutement, salon recrutement, forum recrutement élèves ingénieurs, forum recrutement étudiants, forum recrutement eleves ingenieurs, forum recrutement etudiants, forum emploi, forum stage, salon emploi, salon recrutement élèves ingénieurs, salon recrutement étudiants, salon recrutement eleves ingenieurs, salon recrutement etudiants, salon rhone alpes, recrutement ingénieurs, carrefour européen, carrefour europeen, carrefour maghrébin, carrefour maghrebin, emploi étudiant, emploi ingénieurs, emploi rhone alpes, ingénieur, salon stage, stage ingénieurs, stage rhone alpes, stage, recrutement, emploi">
    <meta name="author" content="ForumOrganisation">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- =========================
    FAV AND TOUCH ICONS
    ============================== -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- =========================
    STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">


    <!-- EXTERNAL PLUGIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}"> <!-- Screenshot Slider -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}"> <!-- Screenshot Slider -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/default/default.css') }}">
    <!-- Nivo Lightbox -->

    <!-- TYPOGRAPHY -->
    <link id="toTypography" href="{{ url_for('static', filename='css/typography/typography-1.css') }}" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- COLORS -->
    <link id="toColor" href="{{ url_for('static', filename='css/colors/blue.css') }}" rel="stylesheet">

    <!-- RESPONSIVE FIXES -->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="body-container">
<div id="page" class="page">    <!-- start page -->
    <div class="navbar navbar-nemo navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#nemo-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-top"></span>
                    <span class="icon-bar icon-bar-middle"></span>
                    <span class="icon-bar icon-bar-bottom"></span>
                </button>

                <!-- YOUR LOGO -->
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/fo.jpg')}}" alt="Forum Organisation">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="nemo-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home">Accueil</a></li>
                    <li class="" ><a href="{{ url_for('joi') }}" id="joi">JOI</a></li>
                    <li class=""><a href="{{ url_for('login') }}" id="login">Connexion</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- =========================
         APP HOME
    ============================== -->
    <section class="home app-home-3 video-bg gradient-overlay text-center editBG" id="home" style="outline-offset: -3px;">

    <div class="section-video">
            <video autoplay="" poster="{{ url_for('static', filename='video/video2.jpg') }}" class="bgvid" loop="" muted="true">
                <source src="{{ url_for('static', filename='video/video2.mp4') }}"
                        type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
            </video>
        </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br><br><br>
                <h1 style="color:white;">Forum Organisation</h1>
                <p class="sub-heading mb50">Génère le contact entre étudiants et recruteurs</p>
                <a href="{{ url_for('login') }}" class="btn btn-white btn-lg">Inscris-toi sur notre plateforme</a>
            </div>
        </div>  <!-- /.row -->
    </div>
</section>
</div> <!-- /end page -->
</body>
<style>
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

</style>

<!-- =========================
     SCRIPTS
============================== -->
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/nivo-lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.localScroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>
<script src="{{ url_for('static', filename='js/matchMedia.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mixitup.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper.jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/application.js') }}"></script>
<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
<script>
    /******************** ENABLE LINK FOR NAVBAR LOGIN ********************/
    $(document).ready(function() {
        $("#login").off("click");
    });
    $(document).ready(function() {
        $("#joi").off("click");
    });
</script>
