{% extends "base_index.html" %}
{% set title = 'Accueil'%}

{% block home %}
<section class="home app-home-3 video-bg gradient-overlay text-center editBG" id="home">
    <div class="section-video">
            <video autoplay="" poster="{{ url_for('static', filename='video/video_joi.jpg') }}" class="bgvid" loop="" muted="true">
                <source src="{{ url_for('static', filename='video/video2.mp4') }}"
                        type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
            </video>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br><br><br>
                <h1 style="color:white;">Forum Organisation</h1>
                <p class="sub-heading mb50">Génère le contact entre entreprises et étudiants</p>
                <a href="{{ url_for('dashboard') }}" class="btn btn-white btn-lg">
                {{ 'Accèdez à votre profil' if current_user.is_authenticated else 'Connectez-vous à notre plateforme' }}
                </a>
            </div>
        </div>  <!-- /.row -->
    </div>
</section>

<section>
    <table class="table-responsive" border="1" bordercolor="#ffffff">
  <tr>
     <th><a href="{{ url_for('joi') }}"><img src="{{ url_for('static', filename='images/joii.png')}}" alt="" class="img-responsive img"></a></th>
    <th><img src="{{ url_for('static', filename='images/mc1.png')}}" alt="" class="img-responsive" style="filter: grayscale(100%);"></th>
    <th><img src="{{ url_for('static', filename='images/fra2.png')}}" alt="" class="img-responsive" style="filter: grayscale(100%);"></th>
  </tr>
</table>
</section>
{% endblock home %}

{% block style %}
<style>
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

img:hover {-webkit-filter: brightness(150%); }

</style>
{% endblock style %}
