{% extends 'admin/master.html' %}
{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>
    {% set stats = get_stats() %}
    {% set users = get_users() %}
    {% set schools = get_schools() %}
    window.onload = function () {
      initLog();
      initUsers();
      initSchools();
      function initSchools() {
        var ctx = document.getElementById("schools");
        var data = {
          labels: {{ schools.get('labels')|tojson }},
          datasets: [
            {
              data: {{ schools.get('count')|tojson }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.4)',
                'rgba(54, 162, 235, 0.4)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(120, 150, 132, 0.4)',
                'rgba(50, 150, 60, 0.4)'
              ]
            }
          ]
        };
        var chartSchools = new Chart(ctx, {
          type: 'pie',
          data: data,
          options: {
            title: {
              display: true,
              text: 'Nombre d\'inscrits par école'
            }
          }
        });
      }
      function initUsers() {
        var ctx = document.getElementById("users");
        var data = {
          labels: {{ users.get('labels')|safe }},
          datasets: [
            {
              label: "confirmés",
              backgroundColor: 'rgba(54, 162, 235, 0.4)',
              data: {{ users.get('confirmed') }}
            }, {
              label: "inscrits",
              data: {{ users.get('registered') }}
            }, {
              label: "forum-rhone-alpes",
              backgroundColor: 'rgba(255, 99, 132, 0.4)',
              data: {{ users.get('fra') }}
            }
          ]
        };
        var chartUsers = new Chart(ctx, {
          type: 'line',
          data: data,
          options: {
            title: {
              display: true,
              text: 'Nombre d\'inscrits'
            },
            scales: {
              yAxes: [
                {
                  ticks: {
                    min: 0
                  }
                }
              ]
            }
          }
        });
      }
      function initLog() {
        var ctx = document.getElementById("log");
        var data = {
          labels: {{ stats.get('labels')|safe }},
          datasets: [
            {
              label: "FRA",
              backgroundColor: 'rgba(54, 162, 235, 0.4)',
              data: {{ stats.get('fra') }}
            }, {
              label: "CM",
              backgroundColor: 'rgba(255, 206, 86, 0.4)',
              data: {{ stats.get('cm') }}
            }, {
              label: "SI",
              backgroundColor: 'rgba(255, 99, 132, 0.4)',
              data: {{ stats.get('si') }}
            }, {
              label: "Ecoles",
              backgroundColor: 'rgba(75, 192, 192, 0.4)',
              data: {{ stats.get('school') }}
            }
          ]
        };
        var chart = new Chart(ctx, {
          type: 'bar',
          data: data,
          fill: true,
          backgroundColor: 'rgba(255, 206, 86, 0.4)',
          options: {
            title: {
              display: true,
              text: 'Avancement Suivi Logistique'
            },
            barValueSpacing: 20,
            scales: {
              yAxes: [
                {
                  ticks: {
                    min: 0,
                    max: 120
                  }
                }
              ]
            }
          }
        });
      }
    }
  </script>
{% endblock %}
{% block body %}
  <canvas id="log" style="width:100%; height:300px" class="model-list"></canvas>
  <canvas id="users" style="width:100%; height:300px" class="model-list"></canvas>
  <canvas id="schools" style="width:100%; height:300px" class="model-list"></canvas>
  <p class="lead" style="font-size:14px">Tip: Filtrer les catégories en cliquant sur les légendes.</p>
{% endblock %}
