{% extends 'companies/base.html' %}
{% set title = 'Espace Recruteur' %}
{% set section = 'companies' %}
{% block navbar_left %}
  <ul class="nav navbar-nav navbar-left">
    <li class="active">
      <a href="#start">{{ _("Accueil") }}</a>
    </li>
    <li class="">
      <a href="#why">{{ _("Pourquoi ?") }}</a>
    </li>
    <li class="">
      <a href="#contact">{{ _("Comment ?") }}</a>
    </li>
    <li class="">
      <a href="#faq">FAQ</a>
    </li>
    <li class="">
      <a href="#press">{{ _("Presse") }}</a>
    </li>
  </ul>
{% endblock navbar_left %}
{% block content %}
  <section class="home app-home-1 video-bg" id="start" style="padding-top:120px;padding-bottom:65px;height:100vh; display:flex; align-items:center">
    <div class="section-video">
      <video autoplay="" poster="{{ url_for('static', filename='video/video.jpg') }}" class="bgvid" loop="">
        <source src="{{ url_for('static', filename='video/video.mp4') }}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
      </video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb10">
          <div class="logo-home">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Forum Rhône-Alpes" style="border-radius: 0px; border-color: rgb(255, 255, 255); border-style: none; border-width: 1px;">
          </div>
          <h2 class="heading-text">
            <span class="element">{{ _("Recrutez") }}</span>
            au Forum Rhône-Alpes<br></h2>
          <h3 class="heading-text">Le n°1 des salons de recrutement d'élèves-ingénieurs de France</h3>
          <h4 class="heading-text">Rendez-vous la semaine du 7 et 8 Mars 2018 au Double Mixte de Lyon</h4>
          <br>
          <div class="home-download-btn">
            <a href="#contact" class="btn btn-white btn-lg">{{ _("Participez dès maintenant") }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- start page -->
<!-- APP FEATURES -->
<section class="why app-features-5 padding-120-75 white-bg" id="why" style="outline-offset: -3px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">
          <h2 class="heading-text">{{ _("Pourquoi participer ?") }}</h2>
          <hr class="lines">
          <p class="sub-heading" style="color: rgb(97, 97, 97); font-size: 16px; background-color: rgba(0, 0, 0, 0); font-family: Hind, sans-serif;">{{ _("Notre dernière édition a réuni plus de 180 exposants et plus de 4000 étudiants et jeunes diplômés") }}<br></p>
        </div>
        <!-- /.section-heading -->
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
        <div class="media media-chained">
          <div class="media-left">
            <i class="icon svg-lightning-regular icon-shape width-75 radius-30 icon-border-1">
              <!--?xml version="1.0" encoding="utf-8"?-->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path d="M32 0l-27.063 11.063 8 8-12.938 12.938 27.063-11.063-8-8zM24.875 20.438l-19.688 8 8.625-8.625 0.813-0.875-0.813-0.875-6.688-6.625 19.688-8-9.438 9.5 0.813 0.875z"></path>
              </svg>
            </i>
          </div>
          <div class="media-body">
            <h3 class="title-text" style="color: rgb(39, 39, 39); font-size: 22px; background-color: rgba(0, 0, 0, 0); font-family: Hind, sans-serif;">{{ _("Un seul événement pour tous vos besoins en recrutement") }}<br></h3>
            <p>Profitez du Forum Rhônes-Alpes pour rencontrer les profils de la région Rhône-Alpes Auvergne avec une sélection de choix parmi les étudiants de l'INSA Lyon, Grenoble INP, l'ECAM et nos autres écoles partenaires...</p>
          </div>
        </div>
        <div class="media media-chained">
          <div class="media-left">
            <i class="icon svg-gift-regular icon-shape width-75 radius-30 icon-border-1">
              <!--?xml version="1.0" encoding="utf-8"?-->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path
                  d="M32 8h-10.188c0.563-0.625 0.938-1.5 0.938-2.438 0-2.125-1.563-3.688-3.688-3.688-1.188 0-2.438 0.563-3.063 1.563-0.625-1-1.813-1.563-3.063-1.563-2.125 0-3.688 1.563-3.688 3.688 0 0.938 0.375 1.813 0.938 2.438h-10.188v4.938h1.25v17.188h29.5v-17.188h1.25zM19.063 3.063c1.375 0 2.5 1.125 2.5 2.5 0 1.313-1.125 2.438-2.5 2.438h-2.438v-2.438c0-1.375 1.125-2.5 2.438-2.5zM10.438 5.563c0-1.375 1.125-2.5 2.5-2.5 1.313 0 2.438 1.125 2.438 2.5v2.438h-2.438c-1.375 0-2.5-1.125-2.5-2.438zM1.25 9.25h14.125v2.438h-14.125zM2.438 12.938h12.938v16h-12.938zM29.563 28.938h-12.938v-16h12.938zM30.75 11.688h-14.125v-2.438h14.125z"></path>
              </svg>
            </i>
          </div>
          <div class="media-body">
            <h3 class="title-text">{{ _("Un recrutement qui correspond à vos besoins") }}</h3>
            <p>Nous communiquons de manière personnalisée sur votre présence au Forum Rhône-Alpes. Vous êtes alors sûrs d'avoir les profils qui vous conviennent le plus.</p>
          </div>
        </div>
        <div class="media media-chained">
          <div class="media-left">
            <i class="icon svg-basic-geolocalize-05 icon-shape width-75 radius-30 icon-border-1">
              <!--?xml version="1.0" encoding="utf-8"?-->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path
                  d="M18.5 9.5c0-1.375-1.125-2.5-2.5-2.5s-2.5 1.125-2.5 2.5c0 1.375 1.125 2.5 2.5 2.5s2.5-1.125 2.5-2.5zM14.5 9.5c0-0.813 0.688-1.5 1.5-1.5s1.5 0.688 1.5 1.5c0 0.813-0.688 1.5-1.5 1.5s-1.5-0.688-1.5-1.5zM16 24.313l0.375-0.5c0.25-0.313 6.625-8.188 6.625-13.313 0-4.125-3.188-7.5-7-7.5-3.875 0-7 3.375-7 7.5 0 5.125 6.313 13 6.625 13.313zM16 4c3.313 0 6 2.938 6 6.5 0 4.063-4.625 10.375-6 12.188-1.375-1.813-6-8.125-6-12.188 0-3.563 2.688-6.5 6-6.5zM21.5 18v1h4.188l4.938 9h-29.25l4.938-9h4.188v-1h-4.813l-6.063 11h32.75l-6.063-11z"></path>
              </svg>
            </i>
          </div>
          <div class="media-body">
            <h3 class="title-text">{{ _("Une diversité sans concession") }}</h3>
            <p>Que vous soyez grand groupe, PME ou startup, le Forum Rhône-Alpes s'adapte à vos objectifs et moyens. Sa dimension internationale en fait de plus, un lieu de rencontre pour des entreprises présentes partout dans le monde.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 col-md-offset-0 col-sm-offset-2 mb60">
        <img src="{{ url_for('static', filename='images/forum.jpg') }}" alt="" class="img-responsive img-right" style="border-radius: 0px; border-color: rgb(153, 153, 153); border-style: none; border-width: 1px;">
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>
<!-- start page -->
<!-- CONTACT US -->
<section class="contact-us-1 image-bg gradient-overlay editBG" id="contact" style="padding-bottom: 120px; padding-top: 75px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-form-popup" style="padding-top: 20px;padding-bottom: 60px;">
          <h4 class="text-center" style="margin-bottom: 15px;">Si vous disposez de vos identifiants,
            <a href="{{ url_for('companies.dashboard') }}">connectez-vous par ici</a>
          </h4>
          <h2 class="heading-text text-center" style="margin-top: 10px;margin-bottom: 20px;">{{ _("Participer dès maintenant") }}</h2>
          <form action="send_request" method="GET" id="contact-form">
            <div>
              <table class="table table-bordered table-form">
                <tbody>
                  <tr>
                    <td>
                      <label for="nom_complet" class="text-uppercase">{{ _("Nom complet") }}</label>
                      <input type="text" id="nom_complet" name="nom_complet" class="form-control" placeholder="ex. Henry Martin">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="email" class="text-uppercase">Adresse e-mail</label>
                      <input type="email" id="email" name="email" class="form-control" placeholder="ex. m.stanley@jpmorgan.com">
                    </td>
                  </tr>
                  <td>
                    <label for="tel" class="text-uppercase">{{ _("Téléphone") }}</label>
                    <input type="tel" id="tel" name="tel" class="form-control" placeholder="ex. 06 65 59 90 15">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="type" class="text-uppercase">{{ _("Je suis") }}</label>
                    <div class="select-outer">
                      <select class="form-inline-input" name="type" id="type">
                        <option value="1">{{ _("une entreprise") }}</option>
                        <option value="2">{{ _("une école") }}</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="nom" class="text-uppercase">{{ _("Nom de la structure") }}</label>
                    <input type="text" id="nom" name="nom" class="form-control" placeholder="ex. JP Morgan">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <div class="g-recaptcha btn" data-sitekey="6Lc4QxAUAAAAAAq-CJ2_11hdu3mWzBzlOeC-BCw-"></div>
          </div>
          <br>
          <div class="text-center">
            <button id="send_mail" type="submit" class="btn btn-base btn-lg">
              <span>{{ _("Envoyer votre demande") }}</span>
            </button>
          </div>
          <div class="result">
            <p class="success-msg">
              <i class="icon svg-check icon-xs">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M16 2.688c-7.375 0-13.313 5.938-13.313 13.313s5.938 13.313 13.313 13.313c7.375 0 13.313-5.938 13.313-13.313s-5.938-13.313-13.313-13.313zM16 28.25c-6.75 0-12.25-5.5-12.25-12.25s5.5-12.25 12.25-12.25c6.75 0 12.25 5.5 12.25 12.25s-5.5 12.25-12.25 12.25zM22.688 11.25l-8.563 8.313-3-3c-0.313-0.313-0.813-0.313-1.125 0s-0.313 0.813 0 1.125l3.563 3.563c0.125 0.125 0.313 0.188 0.563 0.188 0.188 0 0.375-0.063 0.5-0.188l9.125-8.875c0.375-0.313 0.375-0.813 0.063-1.125s-0.813-0.313-1.125 0z"></path>
                </svg>
              </i>
              Merci! Votre demande a été envoyée.
            </p>
            <p class="error-msg">
              <i class="icon svg-close-circle icon-xs">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M6.563 6.563c-5.188 5.188-5.188 13.688 0 18.875s13.688 5.188 18.875 0c5.188-5.188 5.188-13.625 0-18.875-5.188-5.188-13.625-5.188-18.875 0zM24.688 24.688c-4.813 4.75-12.563 4.75-17.375 0-4.75-4.813-4.75-12.563 0-17.375 4.813-4.75 12.563-4.75 17.375 0 4.75 4.813 4.75 12.563 0 17.375zM10.75 10l-0.813 0.75 5.313 5.25-5.25 5.25 0.75 0.75 5.25-5.25 5.25 5.25 0.75-0.75-5.25-5.25 5.313-5.25-0.813-0.75-5.25 5.25z"></path>
                </svg>
              </i>
              Veuillez remplir tous les champs...
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
</section>
<!-- FAQ -->
<section class="faq faqs-2 padding-120-60" id="faq">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
      <div class="section-heading text-center">
        <h2 class="heading-text">FAQ</h2>
        <hr class="lines">
        <p class="sub-heading">{{ _("Vous avez des questions ? On y répond ici.") }}</p>
      </div>
      <!-- /.section-heading -->
    </div>
  </div>
  <!-- /.row -->
  <div class="row faqs-2-items">
    <div class="col-md-6 mb60">
      <h5 class="title-text">Est-ce que les candidats sont mobiles?</h5>
      <p>Les étudiants et jeunes diplômés sont
        <b>mobiles en France et à l'international</b>
        (60% des étudiants ne sont pas originaires de la région Rhône-Alpes-Auvergne).</p>
    </div>
    <div class="col-md-6 mb60">
      <h5 class="title-text">{{ _("Que faire une fois arrivés à Lyon ?") }}</h5>
      <p>Nous prenons en charge vos déplacements vers Lyon pendant les deux jours du salon. Nous organisons également une soirée-cocktail entre les deux jours du salon pour que vous puissiez échanger avec différents acteurs du monde étudiant.</p>
    </div>
    <div class="col-md-6 mb60">
      <h5 class="title-text">Vous communiquez comment sur le Forum Rhône-Alpes?</h5>
      <p>Par mail et via les réseaux sociaux. Nous nous
        <b>{{ _("déplaçons") }}</b>
        aussi sur nos campus partenaires afin de
        <b>{{ _("communiquer et conseiller") }}</b>
        nos futurs visiteurs.</p>
    </div>
    <div class="col-md-6 mb60">
      <h5 class="title-text">Quels sont les horaires d'ouverture/fermeture du salon ?</h5>
      <p>{{ _("Notre salon ouvre ses portes à 8h pour les entreprises, et les premiers candidats arrivent dès 9h. Chaque jour, notre salon ferme à 18h.") }}</p>
    </div>
    <div class="col-md-6 mb60">
      <h5 class="title-text">A quels secteurs appartiennent les entreprises présentes sur le Forum Rhône-Alpes ?</h5>
      <p>Nos écoles partenaires proposent des formations variées, notre salon est donc généraliste et essaye de mettre en contact ses candidats avec tout type d'entreprise.</p>
    </div>
    <div class="col-md-6 mb60">
      <h5 class="title-text">Quels types d'offres peut présenter mon entreprise sur le Forum Rhône-Alpes ?</h5>
      <p>Les visiteurs présents sur le Forum Rhône-Alpes recherchent différents types d'offres: offres d'alternance, de VIE, de stage et/ou de premier emploi.</p>
    </div>
  </div>
</div>
</section>
<!-- OUR LOCATION -->
<section class="home photography-home dark-image-bg vradient-overlay text-center editBG" id="press" style="padding-top: 175px; padding-bottom: 175px;">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
      <h1 class="heading-text">{{ _("Presse") }}</h1>
      <p class="sub-heading">Fort de nos 32 années d'expériences, nous sommes leaders dans le marché du recrutement. Découvrez pourquoi la presse parle de nous.</p>
      <a href="{{ url_for('main.index', page='presse') }}" class="btn btn-base btn-lg">
        <span>Accéder à l'espace Presse</span>
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
</section>
<section class="faq faqs-2" id="faq">
<div class="map-container" id="course-description">
  <div id="mapBig" class="map cover-map"></div>
</div>
</section>
{% endblock content %}
{% block style %}
<style>
.section-heading .lines {
  border-top: 2px solid #fff;
}
.section-heading .lines:after,
.section-heading .lines:before {
  border-top: 2px solid #fff;
}
</style>
{% endblock style %}
{% block js_files %}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyB9-7e6zhICE7j2thUbFfpdRWVtzDwdN4k"></script>
{{ super() }}
{% endblock js_files %}
{% block scripts %}
{{ super() }}
<script>
/******************** TYPED ********************/
$(function () {
  $(".element").typed({
    strings: [
      "Échangez", "Rencontrez", "Recrutez"
    ],
    typeSpeed: 50,
    backSpeed: 100,
    backDelay: 1000
  });
});
/****************** MAP *******************************/
var initMapBig = function () {
  var map = new google.maps.Map(document.getElementById('mapBig'), {
    zoom: 17,
    center: {
      lat: 45.7811929,
      lng: 4.8720335
    },
    scrollwheel: false
  });
  var contentString = '<div class="map-info-window"><h3 id="edit3" class="title-text">Forum Rhône-Alpes - Double Mixte</h3><address><p id="edit1">19 Avenue Gaston Berger, 69100 Villeurbanne</p></address></div>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString,
    maxWidth: 318,
    borderRadius: 4,
    backgroundColor: '#ffffff',
    hideCloseButton: true,
    borderWidth: 0,
    shadowStyle: 0,
    disableAutoPan: false
  });
  var marker = new google.maps.Marker({
    position: {
      lat: 45.780469,
      lng: 4.871804
    },
    map: map,
    title: 'Forum Rhône-Alpes'
  });
  marker.addListener('click', function () {
    infowindow.open(map, marker);
  });
  infowindow.open(map, marker);
}
if (document.getElementById('mapBig') != null) {
  initMapBig();
}
/******************** SCROLLTO ********************/
$('a[href^="#"]').click(function (e) {
  e.preventDefault();
  $(window).stop(true).scrollTo(this.hash, {
    duration: 650,
    offset: -74,
    interrupt: true
  });
});
/******************** CONTACT FORM ********************/
function validateEmail(email) {
  var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  return re.test(email);
}
$('#contact-form').on('submit', function (e) {
  e.preventDefault();
  var error_msg = $(this).find('.error-msg');
  var success_msg = $(this).find('.success-msg');
  var data = {
    nom_complet: $(this).find('input[name="nom_complet"]').val(),
    nom: $(this).find('input[name="nom"]').val(),
    tel: $(this).find('input[name="tel"]').val(),
    email: $(this).find('input[name="email"]').val(),
    captcha: grecaptcha.getResponse()
  }
  if (validateEmail(data.email) && data.nom && data.tel && data.nom_complet && data.captcha) {
    $.ajax({
      type: "GET",
      url: $(this).attr('action'),
      data: data,
      success: function () {
        $("#send_mail").prop('disabled', true);
        success_msg.fadeIn(500);
        error_msg.fadeOut(500);
      },
      error: function () {
        $("#send_mail").prop('enabled', true);
        error_msg.fadeIn(500);
        alert('Veuillez cocher la case \'Je ne suis pas un robot\'');
        success_msg.fadeOut(500);
      }
    });
  } else {
    $("#send_mail").prop('enabled', true);
    error_msg.fadeIn(500);
    success_msg.fadeOut(500);
  }
  return false;
});
</script>
{% endblock scripts %}
