{% extends 'base_all.html' %}
{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home/typography/typography-1.css') }}"></link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/login.min.css') }}"></link>
{% endblock css_files %}
{% set body_class = 'hold-transition login-page friendly' %}
{% block body %}
  <div class="login-box">
    <div class="login-logo">
      <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/logo-fo.png') }}" alt="Forum Organisation"></a>
    </div>
    {% block loginbox %}{% endblock loginbox %}
  </div>
{% endblock body %}
