{% extends 'base_all.html' %}
{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home/typography/typography-1.css') }}"></link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/home.min.css') }}"></link>
{% endblock css_files %}
{% set body_class = 'body-container' %}
{% block body %}
  <div id="page" class="page">
    <!-- start page -->
    <div class="navbar navbar-nemo navbar-transparent navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nemo-navigation" aria-expanded="false">
            <span class="sr-only">Afficher/Masquer la navigation</span>
            <span class="icon-bar icon-bar-top"></span>
            <span class="icon-bar icon-bar-middle"></span>
            <span class="icon-bar icon-bar-bottom"></span>
          </button>
          <!-- YOUR LOGO -->
          <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='images/fo-alt.png')}}" alt="Forum Organisation">
          </a>
        </div>
        {% block navbar %}
          <div class="collapse navbar-collapse" id="nemo-navigation">
            {% block navbar_left %}{% endblock navbar_left %}
            {% block navbar_right %}
              {% set dashboard_url = '%s.dashboard' | format(section) %}
              {% set signin_url = '%s.signin' | format(section) %}
              <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                  <li>
                    <a href="{{ url_for(dashboard_url) }}" id="home">{{ _("Dashboard") }}</a>
                  </li>
                  <li>
                    <a href="{{ url_for('main.logout') }}" id="home">{{ _("Se déconnecter") }}</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ url_for('main.index', section='accueil') }}" id="home">Retour à l'écran de choix</a>
                  </li>
                  <li>
                    <a href="{{ url_for(signin_url) }}" id="home">{{ _("Se connecter") }}</a>
                  </li>
                {% endif %}
              {% endblock navbar_right %}
            </ul>
          </div>
        {% endblock navbar %}
      </div>
    </div>
    <!-- CONTENT -->
    {% block content %}{% endblock content %}
    <!-- FOOTER -->
    <footer class="footers footer-1 editBG" style="background-color: white" id="footer">
      <div class="container text-center">
        <p class="contact-help">Besoin d'aide?
          <a href="mailto:contact-fra@forumorg.org">Contactez-nous!</a>
        </p>
        <ul class="socialize">
          <li>
            <a href="https://www.facebook.com/forumorg/">
              <i class="icon svg-social-facebook-square">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM20.125 16h-2.625v9.625h-3.563v-9.625h-2.438v-3.313h2.438v-1.938c0-2.688 0.688-4.375 3.875-4.375h2.625v3.313h-1.625c-1.25 0-1.313 0.5-1.313 1.375v1.625h3z"></path>
                </svg>
              </i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/forumrhonealpes">
              <i class="icon svg-social-twitter-square">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM23.938 12.438c0 0.125 0.063 0.313 0.063 0.5 0 5.188-4 11.188-11.25 11.188-2.188 0-4.25-0.625-6-1.75 0.313 0 0.625 0.063 0.938 0.063 1.813 0 3.5-0.625 4.875-1.688-1.75-0.063-3.188-1.188-3.688-2.75 0.25 0.063 0.5 0.063 0.75 0.063 0.375 0 0.688-0.063 1.063-0.125-1.813-0.375-3.188-2-3.188-3.875 0 0 0-0.063 0-0.063 0.5 0.313 1.125 0.5 1.813 0.5-1.063-0.688-1.813-1.938-1.813-3.25 0-0.75 0.25-1.438 0.563-2 1.938 2.375 4.875 3.938 8.125 4.125-0.063-0.313-0.125-0.625-0.125-0.938 0-2.125 1.813-3.938 3.938-3.938 1.125 0 2.188 0.5 2.875 1.25 0.938-0.188 1.75-0.5 2.5-0.938-0.25 0.938-0.875 1.688-1.688 2.188 0.75-0.125 1.563-0.313 2.25-0.625-0.563 0.813-1.188 1.5-2 2.063z"></path>
                </svg>
              </i>
            </a>
          </li>
          <li>
            <a href="https://fr.linkedin.com/company/forum-rh-ne-alpes">
              <i class="icon svg-social-linkedin-square">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                  <path
                    d="M26 0h-20c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20c3.313 0 6-2.688 6-6v-20c0-3.313-2.688-6-6-6zM12 23.75h-4v-14h4zM10.125 8.875c-1.063 0-1.875-0.813-1.875-1.875 0-1 0.813-1.875 1.875-1.875s1.875 0.875 1.875 1.875c0 1.063-0.813 1.875-1.875 1.875zM26 23.75h-4v-8.625c0-1.063-0.313-1.75-1.563-1.75-2.063 0-2.438 1.75-2.438 1.75v8.625h-4v-14h4v1.313c0.563-0.438 2-1.313 4-1.313 1.313 0 4 0.75 4 5.438z"></path>
                </svg>
              </i>
            </a>
          </li>
          <li>
            <a href="https://github.com/ForumOrganisation/forumorg">
              <i class="icon svg-social-github-square">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path
                  d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.09-.202-.36-1.015.07-2.117 0 0 .67-.215 2.2.82.64-.178 1.32-.266 2-.27.68.004 1.36.092 2 .27 1.52-1.035 2.19-.82 2.19-.82.43 1.102.16 1.915.08 2.117.51.56.82 1.274.82 2.147 0 3.073-1.87 3.75-3.65 3.947.28.24.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.14.46.55.38C13.71 14.53 16 11.53 16 8c0-4.418-3.582-8-8-8"/></svg>
              </i>
              <span style="color:#8f8f8f">{{ _("Open Source") }}</span>
            </a>
          </li>
        </ul>
        <p class="copyright">© Forum Organisation,
          <a href="https://opensource.org/licenses/mit-license.php">{{ _("Licence MIT") }}</a>
        </p>
      </div>
    </footer>
  </div>
{% endblock body %}
{% block scripts %}
  <script>
    window.intercomSettings = {
      app_id: "l9nka9mi"
    };
  </script>
  <script>
    (function () {
      var w = window;
      var ic = w.Intercom;
      if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', intercomSettings);
      } else {
        var d = document;
        var i = function () {
          i.c(arguments)
        };
        i.q = [];
        i.c = function (args) {
          i.q.push(args)
        };
        w.Intercom = i;
        function l() {
          var s = d.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://widget.intercom.io/widget/l9nka9mi';
          var x = d.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
        if (w.attachEvent) {
          w.attachEvent('onload', l);
        } else {
          w.addEventListener('load', l, false);
        }
      }
    })()
  </script>
{% endblock scripts %}
{% block js_files %}
  <script type="text/javascript" src="{{ url_for('static', filename='build/home.min.js') }}"></script>
{% endblock js_files %}
